<!DOCTYPE html>
<style>
#navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 50px;
    border: 2px solid blue;
    background-color: #e1e0e4;
    display: inline-block;
    width: 100%;
    z-index: 3;
}
#nav-path{
    float: left;
    /* position: relative; */
    align-content: flex-start;
    height: 30ox;
    padding: 14px 0px 14px 0px;
    margin: auto;
    /* font-weight: ;  */
    font-size: large;
    /* border: 2px solid black; */
}

#nav-area{
    position: fixed;
    top: 50px;
    /* right: 0px; */
    height: 100px;
    /* border: 2px solid black; */
    /* background-color: #e1e0e4; */
    /* display: inline-block; */
    width: 100%;
    z-index: 1;
    background-color: white;

}
.logo {
    float: left;
    height: 25px;
    width: 25px;
    padding: 10px;
    /* border: 2px solid; */
    /* border-color: black; */
}

.main{
    position: relative;
    top: 150px;
    left: 190px;
    display: flex;
    width: 900px;
    flex-direction: column;
    /* height: 500px; */
    /* border: 1px solid gray; */
    z-index: 0;
}
.doubt{
    /* position: relative; */
    /* top: 30px; */
    /* right: 300px; */
    display: flex;
    width: 890px;
    border: 2px solid #947ed6;
    background-color: white;
    align: center;
    background-color: #e1e0e4;
    padding: 20px 0px 20px 0px;
    
    /* background-color: black; */
}
.doubt-title{
    width: 690px;
    font-weight: bold;
    padding: 10px 20px 7px 20px;
    /* border: 3px solid #947ed6; */
}

.comment-button{
    position:relative;
    background-color: white;
    float: right;
    top: 8%;
    font-size: 20px;
    padding: 5px 20px;
    /* padding: 20px 20px 7px 20px; */
    border-radius: 8px;
    border: 2px solid #947ed6;
    color: #947ed6;
}



.logout-button{
    background-color: #828ad1;
    float: right;
    position:relative;
    right: 5px;
    top: 5px;
    font-size: 25px;
    padding: 3px 25px;
    border-radius: 8px;
}

a{
    padding: 2px;
    font-style: Serif;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

</style>

<body>

    <div id = "navbar">
       <div> <img class="logo" src="/images/logo.jpeg"></div>
        <div id="nav-path"> <a href='/users/home'>Home</a>|<a href='/doubts/new'> Raise Doubt </a> 
        <%if @user.is_ta? || @user.is_teacher?%>
        | <a href='/doubts'> Solve Doubt </a> 
        <%end%> 
        <%if @user.is_teacher?%>
        | <a href='/reports/ta_stats'>  Dashboard </a> 
        <%end%> 
        </div>
        <%= form_with url: "/users/logout", method: :post do |form| %>
        <%# <input type="hidden" name="_method" value="patch" /> %>
        <button class="logout-button" type="submit"> Logout</button>
        <%end%>
    </div>
    <div id = "nav-area"></div>

    <!-- <div w3-include-html="navbar.html"></div> -->
    <div class="main">
        <div style="height: 60px; font-weight: bold; font-size: xx-large; padding: 5px;">Solve Doubts</div>
        <% @doubts.each do |doubt|%>
        <div class="doubt">
            <!-- <div style="height: 20px;"></div> -->
            
            <div class="doubt-title">
                <%= doubt.title%>
            </div>
            <div class="accept-button">
                <%= form_with url: "/doubts/#{doubt.id}/solve", method: :get do |form| %>
                <input type="hidden" name="accept" value="true">
                <input type="submit" class="comment-button" value="Accept"> </button>
                <%end%>
            </div>
        </div>

        <div style="height: 20px;"></div>
        <%end%>
    </div>

    <!-- <div class="form-box"></div> -->
    <!-- sajidjidosudiouoidudouias -->
</body>