<!DOCTYPE html>
<style>
#navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 50px;
    border: 2px solid blue;
    background-color: #e1e0e4;
    display: inline-block;
    width: 100%;
    z-index: 3;
}
#nav-path{
    float: left;
    /* position: relative; */
    align-content: flex-start;
    height: 30ox;
    padding: 14px 0px 14px 0px;
    margin: auto;
    /* font-weight: ;  */
    font-size: large;
    /* border: 2px solid black; */
}

#nav-area{
    position: fixed;
    top: 50px;
    /* right: 0px; */
    height: 100px;
    /* border: 2px solid black; */
    /* background-color: #e1e0e4; */
    /* display: inline-block; */
    width: 100%;
    z-index: 1;
    background-color: white;

}
.logo {
    float: left;
    height: 25px;
    width: 25px;
    padding: 10px;
    /* border: 2px solid; */
    /* border-color: black; */
}

.display-area{
    display: flex;
}

.main{
    position: relative;
    top: 150px;
    left: 150px;
    display: flex;
    width: 900px;
    flex-direction: column;
    /* height: 500px; */
    /* border: 1px solid gray; */
    z-index: 0;
}


.form-box{
    position: relative;
    /* top: 30px; */
    /* let: 300px; */
    width: 900px;
    border: 3px solid #947ed6;
    background-color: #e1e0e4;
    align: center;

    padding: 20px 0px 20px 10px;
    /* background-color: black; */
}

.answer-box{
    position: relative;
    left: 20px;
    width: 400px;
    height: 160px;
    border: 3px solid #947ed6;
    background-color: #e1e0e4;
    /* align: center; */
    padding: 20px 20px 20px 30px;
}

.doubt-box{
    /* padding: 20px; */
    width: 450px;
    /* border: 3px solid black; */
    border-bottom: 1px solid black;
}
.title{
    width: 450px;
    font-weight: bold;
    padding: 20px 20px 7px 29px;
}

.description{
    /* width: px; */
     padding: 7px 20px 7px 30px;
     
}
.asked_by{
    /* float: right; */
    text-align: right;
    padding: 7px 30px 7px 20px;
    /* padding-right: 30px; */
    height: 30px;
}

.answered_by{
    /* float: right; */
    text-align: left;
    padding: 7px 30px 7px 20px;
    /* padding-right: 30px; */
    height: 30px;
}

.comment-box{
    /* padding: 20px; */
    width: 450px;
    /* border: 3px solid black; */
    /* border-bottom: 1px solid black; */
}

.comment-count{
    position:relative;
    left: 30px;
    padding: 7px 30px 5px 5px;
}

.comment{
    top: 1px;
    position:relative;
    width: 400px;
    left: 30px;
    background-color: #f0f0f0;
    padding: 7px 0px 7px 7px;
    border: 1px solid #b5a5e5;
}

.new-comment{
    position:relative;
    top: 10px;
    width: 830px;
    left: 30px;
    padding: 7px 0px 15px 0px;
    /* border: 2px solid blue; */
}

.answer-area{
    width: 380px;
    height: 60px;
    padding-bottom: 5px;
    margin-bottom: 5;
    border: 2px solid #b5a5e5; 
}

.answer-button{
    position:relative;
    background-color: #4876f5;
    float: right;
    top: 10px;
    right: 12px;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

.logout-button{
    background-color: #828ad1;
    float: right;
    position:relative;
    right: 5px;
    /* height: 10px; */
    /* width: 15px; */
    /* color: blue; */
    top: 5px;
    font-size: 25px;
    padding: 3px 25px;
    border-radius: 8px;
}

.comment-button{
    position:relative;
    background-color: white;
    float: right;
    top: 10px;
    right: -20px;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 3px;
    color:#5c69da;
    border: 1px solid #5c69da;
}

</style>

<body>

    <div id = "navbar">
       <div> <img class="logo" src="logo.jpeg"></div>
        <div id="nav-path"> Home|Raise Doubt </div>
        <button class="logout-button"> Logout</button>
    </div>
    <div id = "nav-area"></div>

    <!-- <div w3-include-html="navbar.html"></div> -->
    <div class="main">
        <div style="height: 60px; font-weight: bold; font-size: xx-large; padding: 5px;">Home</div>
        
            <div class="display-area">
            <div class="form-box">
                <div style="height: 20px;"></div>
                <div class="doubt-box">
                    <div class="title"> Title</div>
                    <div class="description"> on has no addresses it renders nothing. A common pattern is for the controller to build one or more empty children so that at least one set of fields is shown to the user. The exWhen an association accepts nested attributes fields_for renders its block once </div>
                    <div class="asked_by">Asked by: John Doe on Aug 8:2017</div>
                </div>
                <div class="comment-box">
                    <div class="comment-count"> 3 Comments </div>
                        <div class="comment"> When an association accepts nested attributes fields_for renders its block once for every element of the association. In particular, if a person has no addresses it renders nothing. A common pattern is for the controller to build one or more empty children so that at least one set of fields is shown to the user. The exWhen an association accepts nested attributes fields_for renders its block once
                        </div>
                </div>
            </div>
            <div>
                <div class="answer-box">
                    <div style=""><strong> Answer</strong></div>
                    <div>
                        <form>
                            <input type ="text" class="answer-area">
                            <input type= "submit" class="answer-button" value="Answer" name ="comment">
                        </form>
                    </div>
                    <div>
                       
                    </div>
                </div>
                <div style="float:right">
                    <form>
                        <input type= "submit" class="comment-button" value="Escalate" name ="comment">
                    </form>
                </div>
            </div>
            </div>
            <div style="height: 60px;"></div>

        </div>
    </div>

            <div style="height: 60px;"></div>

    </div>

    <!-- <div class="form-box"></div> -->
    <!-- sajidjidosudiouoidudouias -->
</body>